{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="mt-5">Create new Category</h1>
    <div class="col-8 m-2">
        {{ include('category/_form.html.twig') }}

        <a href="{{ path('category_index')}}" class="btn btn-secondary">back to list</a>

    </div>
{% endblock %}
