/* mobileFirst */

html {
  scroll-behavior: smooth;
  font-size: xx-large;
}

body {
    color: black;
}



#home {
    height: 100vh;
    min-height: 550px;
    background: #161415 url(../img/background/header-background.jpg) no-repeat top center fixed;
    background-size: cover !important;
    -webkit-background-size: cover !important;
}

#about {
    background-color: #161415;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    color: #bbbbbb;
    font-family: 'opensans-regular', sans-serif;
    min-height: 30vh;
}

.photoprofil {
    max-width: 100%;
    height: auto;
    transform: scale(0.9);
}


.dropdown-menu{
    background-color: #161415;
    color :#161415
}

.dropdown-menu a {
    color : white
}

header h1 {
    font-size: 2em;
}

.vertical-header {
    margin-top: 40%;
}

.vertical-modal {
    margin-top: 40%;
}

a {
    color : #343a40;
}

.icone {
    color: #fff;
}

.card-img-top {

    max-width: 350px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: auto;
    object-fit: scale-down;
    
}

.img-card{
    max-height: 350px;
    object-fit: scale-down;
}


section:nth-of-type(2) {
    background-color: #2B2B2B;
    min-height: 100vh;

}

section:nth-of-type(2) button {
    background-color: #2B2B2B;
    border-radius: none;
    border-color:#2B2B2B;
    color: white;
    
}

section:nth-of-type(4) {
    background-color: #616D74;
}

section:nth-of-type(4) a {
    font-size: 15rem;
    padding-top: 15%;
}

footer {
    background-color: #343a40;
    height: auto;
    font-size: 1.5rem;
}

footer a {
    color: white;
    font-size: 1.5rem;
}

footer p {
    font-size: 1rem;
    margin-bottom: 0px;
}

.row{
    height: 100%;
}

.project {
    background-color: #9C9C9C !important;
}

form {
    border-radius: 45%;
}

#contact svg{
    transform: scale(0.9);
    transition: all .5s ease-in-out;
}

#contact svg:hover {
    transform: scale(1.1) ;
}

/* .arrow a { color: white; text-decoration: none; } */

.arrow {
  text-align: center;
  margin: 8% 0;
  position: absolute;
  bottom: 3%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#type-css {
  position: absolute;
}
#type-css h1 {
  overflow: hidden;
  line-height: 2;
  white-space: nowrap;
  border-right: 3px solid #fff;
  animation: type 2s steps(30,end) 1s 1 normal both;
}

@keyframes type {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

@media screen and (min-width: 768px) 
{
    html{
        font-size: large;
    }

    /* header {
        background: #161415 url(../img/background/sunset.png) no-repeat top center;
        font-size: 1, 8rem;
    } */

    header h1 {
        font-size: 3rem;
    }

    header h2 {
        font-size: 3rem;
    }

    header h3 {
        font-size: 3rem;
    }

    /* section:first-of-type {
        height: 100vh;
    } */

    section:nth-of-type(3) a {
        padding-top: 0;  
    }    

    .row{
    display: flex;
    }

    .vertical-header {
    margin-top: 20%;
    }   

    .vertical-modal {
    margin-top: 10%;
    }   
}


@media screen and (min-width: 1280px) 
{
    html{
        font-size: medium;
    }


    header {
        background: #161415 url(../img/background/header-background.jpg) no-repeat top fixed;
    }

    section:nth-of-type(2) {
        min-height: 100vh;
    }

    #contact {
        min-height: 50vh;
    }
    
    #contact a {
        min-height: 75vh;
    }



}

