/* mobileFirst */

body {
    color: black;
}

header {
    height: 100vh;
    min-height: 550px;
    background: #161415 url(../img/background/header-background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
}

header h1 {
    font-size: 2em;
}

.vertical {
    margin-top: 40%;
}

a {
    color : #343a40;
}

.icone {
    color: #fff;
}


section:first-of-type {
    background-color: #2B2B2B;
    height: auto;
}

section:first-of-type button {
    background-color: #2B2B2B;
    border-radius: none;
    border-color:#2B2B2B;
    color: #fff
}

section:nth-of-type(3) {
    background-color: #616D74;
}

section:nth-of-type(3) a {
    font-size: 15rem;
    padding-top: 15%;
}

footer {
    background-color: #343a40;
    height: auto;
    font-size: 1.5rem;
}

footer a {
    color: white;
    font-size: 1.5rem;
}

footer p {
    font-size: 1rem;
    margin-bottom: 0px;
}

.row{
    height: 100%;
}

.project {
    background-color: #9C9C9C !important;
}

form {
    border-radius: 45%;
}

svg{
    transform: scale(0.9);
    transition: all .5s ease-in-out;
}

svg:hover {
    transform: scale(1.1) ;
}

#type-css {
  position: absolute;
}
#type-css h1 {
  overflow: hidden;
  line-height: 2;
  white-space: nowrap;
  border-right: 3px solid #fff;
  animation: type 2s steps(30,end) 1s 1 normal both;
}

@keyframes type {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

@media screen and (min-width: 768px) 
{
    /* header {
        background: #161415 url(../img/background/sunset.png) no-repeat top center;
        font-size: 1, 8rem;
    } */

    header h1 {
        font-size: 3rem;
    }

    header h2 {
        font-size: 3rem;
    }

    header h3 {
        font-size: 3rem;
    }

    /* section:first-of-type {
        height: 100vh;
    } */

    section:nth-of-type(3) a {
        padding-top: 0;  
    }    

    .row{
    display: flex;
    }

    .vertical {
    margin-top: 20%;
    }   
}


@media screen and (min-width: 1280px) 
{
    header {
        background: #161415 url(../img/background/header-background.jpg) no-repeat top fixed;
    }

    section:first-of-type {
        height: auto;
    }

    section:nth-of-type(2) {
        height: 100vh;
    }
}